body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  background: url(./components/Background/mee.jpg) center center fixed;
  background-size: cover;
  background-repeat: no-repeat; 
  /* background-color: #36393e; */
}
